/target/classes/
/.idea/*
/.idea/compiler.xml
/.idea/dbnavigator.xml
/.idea/dictionaries
/.idea/encodings.xml
/.idea/image-translation-client.iml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/pictech-image-translation-client-vue.iml
/output/*
/upload/*
/frontend/node_modules/*
/src/main/resources/static/*
